{%  extends "base.html" %}

{% block content %}
    <div class="container">
 <div class="col-md-12 maincontent row-centered " id="gridview">
    {% for post in posts %}
        <div class="col-sm-3"><img class="listimg" src="/media/{{ post.image }}" /></div>
        <div class="col-sm-8 postcontainer">
            <h1><a href="{{ post.id }}">{{ post.post_title }}</a></h1>
            <!-- linebreak allows the browser to interpret words and not split them in half, it tries to break suitably across lines-->
            <p>{{ post.content|truncatewords:50 }}</p>
                <button class="btn" onclick="location.href = {{ post.id }}">Read More ></button>
            <p>{{ post.published_date }} | <b>Views:</b> {{ post.views }} | <b>Tag:</b> {{ post.tag }}</p>
        </div>
    {% endfor %}



    </div>
{% endblock content %}