{% extends "base.html" %}
{% block content %}

    {%  load bootstrap_tags %}
<div class="suggest_img"></div>
    <div class="col-sm-12 ">
<div class="col-sm-7">
    <div class="newpostform ">
        <h1>Your Suggestions</h1>
<table class="table table-striped">
    <thead>
    <tr>

       <th>Image</th>
        <th>Name</th>
        <th>Descriptions</th>

        <th>Price</th>
        <th></th>

    </tr>
    </thead>

    <tbody>
    {%  for product in products %}
        <tr>
         <td> {%  if product.img %}<img src="/media/{{ product.img }}">{% endif %}</td>
        <td> {{ product.name }}</td>
        <td> {{ product.description }}</td>

        <td> {{ product.price }}</td>
{#            ending this button with .sandbox enables all transactions to go to the test side of paypal. .render would be used instead of .sandbox when putting live#}
        <td> {{ product.paypal_form.sandbox }}</td>

        </tr>
    {% endfor %}
    </tbody>
    </table>

    <hr>
    <br><br>

        <p>Been somewhere that really made an impact? Share your experiences here, some new suggestions are always welcome to add to the never ending list!</p>

<hr>
        <form method="POST" enctype="multipart/form-data">
        <!--csrf is a security measure to present Cross Site Request Forgery-->
            {%  csrf_token %}
            <!--renders all form fields specified in the BlogPostForm class-->
            {{ form | as_bootstrap }}
            <button type = "submit" class="btn btn-btn-btn-info">Save</button>
        </form>
    </div>
</div>
    </div>

{% endblock %}
