{% extends "base.html" %}
{% block content %}

<section id="photostack-1" class="photostack photostack-start">
	<div>
		<figure>
			<a href="http://goo.gl/Qw3ND4" class="photostack-img">
				<img src="/static/img/bolivia/1.jpg" alt="img01"/>
			</a>
			<figcaption>
				<h2 class="photostack-title">Bolivia</h2>
			</figcaption>
		</figure>

	    <figure>
			<a href="http://goo.gl/Qw3ND4" class="photostack-img">
				<img src="/static/img/bolivia/4.jpg" alt="img01"/>
			</a>
			<figcaption>
				<h2 class="photostack-title">Bolivia</h2>
			</figcaption>
		</figure>

        <figure>
			<a href="http://goo.gl/Qw3ND4" class="photostack-img">
				<img src="/static/img/bolivia/3.jpg" alt="img01"/>
			</a>
			<figcaption>
				<h2 class="photostack-title">Bolivia</h2>
			</figcaption>
		</figure>

        <figure>
			<a href="http://goo.gl/Qw3ND4" class="photostack-img">
				<img src="/static/img/bolivia/2.jpg" alt="img01"/>
			</a>
			<figcaption>
				<h2 class="photostack-title">Bolivia</h2>
			</figcaption>
		</figure>

    </div>
</section>

{% endblock %}