{%  extends "base.html" %}
{% block content %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="herobar">
            <h2>Travel Escapades</h2>
    <h4>The Life & Times of An Irish Girl Abroad</h4>
    <div id="button"class="intro_readon">Read On ></div>
                </div>
        </div>
    </div>

</header>
 
    <div class="row">
        <div class="col-sm-12 overview">
            <div style="margin-left:90px ">
            <a href="{% url 'melbourne' %}">
            <div class="col-sm-4 fader homepod "><h1>Some Ramblings</h1>
            <div class="inner ramb"></div>
            </div></a>

            <a href="{% url 'gallery' %}">
            <div class="col-sm-4 fader homepod"><h1>Life through a lens</h1>
            <div class="inner gallery"></div>
            </div>
            </a>

            <a href="{% url 'suggestion_post' %}">
            <div class="col-sm-4 fader homepod" ><h1>Sign up nows</h1>
            <div class="inner suggest"></div>
            </div>
            </a>
</div>
{#            <a href="{% url 'melbourne' %}">#}
{#            <div class="col-sm-3 fader"><h1>Say Hello</h1>#}
{#            <div class="inner hello"></div>#}
{#            </div>#}
{#            </a>#}
</div>

    </div>

{% endblock %}
