{% extends "base.html" %}
{% block content %}

<div class="suggest_img"></div>
    <div class="col-sm-12 ">
<div class="col-sm-7">
    <div class="newpostform">
        <h1>Thanks!</h1>

        <p>Thanks for sending on your suggestion. We read through each submission and publish them on our main blog section.</p>
        <p>You'll receive an email to confirm once your submission is live on our site.</p>
   <button class="btn btn-btn-btn-info" onclick="location.href='{% url 'melbourne' %}'">< Back to Blog</button><hr>

    </div>
</div>
    </div>

{% endblock %}